<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="classpath*:applicationContext.xml"/>

    <bean class="org.apache.tomcat.jdbc.pool.DataSource" id="dataSource">
        <property name="driverClassName" value="${datasource_driver}"/>
        <property name="url" value="${datasource_url}"/>
        <property name="username" value="${datasource_username}"/>
        <property name="password" value="${datasource_password}"/>
        <property name="jmxEnabled" value="false"/>
        <property name="testWhileIdle" value="false"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationInterval" value="30000"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="1"/>
        <property name="initialSize" value="0"/>
        <property name="maxWait" value="10000"/>
        <property name="removeAbandonedTimeout" value="60"/>
        <property name="minEvictableIdleTimeMillis" value="30000"/>
        <property name="minIdle" value="0"/>
        <property name="logAbandoned" value="true"/>
        <property name="removeAbandoned" value="false"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean abstract="true" id="baseDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<bean class="com.makeandbuild.vessl.sample.persistence.EventDaoImpl" id="eventDao" parent="baseDao" scope="singleton"/>-->
    <!--<bean class="com.makeandbuild.vessl.sample.persistence.UserDaoImpl" id="userDao" parent="baseDao" scope="singleton"/>-->

    <bean class="com.makeandbuild.vessl.validation.ValidationProxyManagerImpl" id="validationProxyManager"/>
    <bean class="com.makeandbuild.vessl.validation.validator.JSR303BeanValidator" id="jsr303BeanValidator"/>
</beans>